@mixin container {
    width: 280px;
    padding-left: 20px;
    padding-right: 20px;
    
    @media (min-width: 768px) {
        width: 648px; 
        padding-left: 60px;
        padding-right: 60px;
    }
    
    @media (min-width: 1280px) {
        width: 1200px;
        padding-left: 40px;
        padding-right: 40px;
        margin: 0 auto;
    }
}

@mixin clearfix {
    content: "";
    display: table;
    clear: both;
}
@mixin text {
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
    text-align: center;
}
$body-color: #81b3d2;