.btn {
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #81b3d2;
    @include text;
    font-size: 18px;
    font-weight: 700px;
    color: #fff;
    text-align: center;
    border: none;
}

@media (min-width: 768px) {
    .btn {
        font-size: 22px;
    }
    .review__button {
        width: 324px;
    }
}

@media (min-width: 1280px) {
    .review__button {
        width: 480px;
    }
}