
/*.page-header__image {
    @include container;
    background-image: url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
}
.page-header__image--long {
    height: 390px;
    background-position: -220px 0px;
}*/
.page-header__image--short {
    height: 158px;
    background-position: -154px -233px;
    background-color: green;
    opacity: 0.2;
}
.page-header__title {
    @include text;
    padding: 0;
    margin: 0;
}
.page-header__main-title {
    margin-top: 145px;
    @include text;
    color: #fff;
    font-size: 66px;
    line-height: 66px;
    font-weight: 700;
    letter-spacing: -0.5px;
}
.page-header__main-title--short {
    margin-top: 0;
    padding-top: 30px;
}
.page-header__nav-wrap {
    background-color: red;
    opacity: 0.2;
    height: 280px;
    position: relative;
}
.page-header__image--long {
    background-color: green;
    opacity: 0.2;
    height: 390px;
}
.page-header__logo {
    position: absolute;
    height: 83px;
    width: 103px;
    bottom: -30px;
    left: 110px;
    background-color: black;
    opacity: 0.2;
}
.page-header__menu-toggle {
    position: absolute;
    right: 20px;
    bottom: 18px;
}

@media (min-width: 760px) {
    .page-header__nav-wrap {
    height: 56px;
}
    .page-header__image {
    background-color: green;
    opacity: 0.2;
    height: 520px;
}
    .page-header__logo {
        width: 104px;
        left: 332px;
    }
    .page-header__menu-toggle {
        display: none;
    }
    .page-header__image--short {
        height: 290px;
    }
}

@media (min-width: 1280px) {
    .page-header__logo {
        width: 187px;
        height: 96px;
        left: 507px;
        bottom: -42px;
    }
     .page-header__menu-toggle {
        display: none;
    }
    .page-header__image--short {
        height: 301px;
    }
    .page-header {
        @include container;
    }
}