.main-nav__list {
    @include container;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 320px;
    background-color: $body-color;
    
}
.main-nav__item { 
    @include text;
    display: block;
    padding-top: 19px;
    padding-bottom: 20px;
    border-bottom: 1px solid #678fa8;
    border-top: 1px solid #9ac2db;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
}

