.photo {
    @include container;
    padding-top: 22px;
    padding-bottom: 17px;
    border-top: 1px solid #e5e5e5;
    background-color: green;
    opacity: 0.2;
}
.photo__img {
    margin-bottom: 20px;
    height: 280px;
    width: 280px;
    background-color: red;
    opacity: 1.4;
}
.photo__desc {
    background-color: yellow;
    opacity: 1.5;
}
.photo__name {
    @include text;
    font-size: 12px;
    font-weight: 700;
}
.photo__author {
    @include text;
    font-size: 12px;
    text-transform: none;
}
.photo__likes {
    display: inline-block;
    padding-left: 37px;
    @include text;
    font-size: 14px;
    font-weight: 700;
    padding-top: 18px;
}

@media (min-width: 768px) {
    .photo__wrap {
        @include container;
        font-size: 0;
    }
    .photo {
        display: inline-block;
        width: 324px;
        border-color: #fff;
        padding:0;
        margin-bottom: 0;
    }
    .photo--first {
        width: 100%;
    }
    .photo__img {
        height: 267px;
        width: 100%;
        margin-bottom: 0;
    }
    .photo__img--first {
        width: 100%;
        height: 400px;
        margin-bottom: 0;
    }
    .photo__desc {
        box-sizing: border-box;
        height: 80px;
    }
}

@media (min-width: 1280px) {
    .photo__wrap {
        @include container;
    }
    .photo__desc {
        margin-top: -80px;
    }
    .photo {
        width: 400px;
    }
    .photo--first {
        width: 100%;
    }
}