@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
      local("PT Sans"),
      url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans Bold";
  font-style: normal;
  font-weight: 700;
  src:
      local("PT Sans Bold"),
      url("../fonts/ptsansbold.woff") format("woff");
}

body {
    width: 320px;
    margin: 0 auto;
    
    @media (min-width: 768px) {
        width: 768px;
    }
    
    @media (min-width: 1280px) {
        width: 1280px;
    }
}


@import "service.scss";
@import "blocks/introduction.scss";
@import "blocks/advantage.scss";
@import "blocks/book.scss";
@import "blocks/btn.scss";
@import "blocks/page-footer.scss";
@import "blocks/page-header.scss";
@import "blocks/map.scss";
@import "blocks/main-nav.scss";
@import "blocks/photo.scss";
@import "blocks/review.scss";
@import "blocks/social-link.scss";
@import "blocks/tipps.scss";
@import "blocks/video.scss";