.book {
    @include container;
    padding-top: 26px;
    padding-bottom: 50px;
}
.book__title {
    display: block;
    @include text;
    font-size: 21px;
    font-weight: 700;
}
.book__description {
    margin-top: 20px;
    margin-bottom: 32px;
    @include text;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

@media (min-width: 768px) {
    .book {
        box-sizing: border-box;
        padding-top: 48px;
        padding-bottom: 58px;
        margin: 0 auto;
    }
    .book__wrap {
        width: 460px;
        margin: 0 auto;
    }
    .book__title {
        font-size: 30px;
    }
    .book__description {
        margin-top: 25px;
        margin-bottom: 40px;
    }
}

@media (min-width: 1280px) {
    .book {
        padding-bottom: 66px;
    }
     .book__description {
        margin-bottom: 45px;
    }
}