.page-footer {
    @include container;
    padding-top: 37px;
    padding-bottom: 20px;
    background-color: $footer-color;
}
.page-footer__wrap {
    width: 153px;
    margin: 0 auto;
}
.page-footer__hashtag {
    @include text;
    font-family: "PT Sans Bold", "Arial", sans-serif;
    font-size: 21px;
    font-weight: 700px;
    margin:0;
    margin-bottom: 35px;
}
.page-footer__copyright {
    @include text;
    font-size: 14px;
    text-align: left;
    margin: 0;
    padding-top: 7px;
    background-image: url("../img/htmlacademy.svg");
    background-repeat: no-repeat;
    background-position: 107px -3px;
    background-size: 27%;
}

@media (min-width: 768px) {
    .page-footer {
        @include container;
        box-sizing: border-box;
        padding-top: 34px;
        padding-bottom: 36px;
    }
    .page-footer__wrap {
        width: 648px;
        height: 50px;
    }
    .page-footer__hashtag {
        float: left;
        width: 196px;
        padding-top: 9px;
        margin-bottom: 0;
        text-align: left;
        font-size: 21px;
    }
    .page-footer__copyright {
        float: right;
        width: 132px;
        padding-top: 14px;
        padding-bottom: 10px;
        background-position: 98px 2px;
        background-size: 32%;
    }
}

@media (min-width: 1280px) {
    .page-footer {
        padding-left: 0;
        padding-right: 0;
    }
    .page-footer__wrap {
        width: 1200px;
    }
    .page-footer__hashtag {
        float: left;
        width: 400px;
        text-align: left;
        text-align: center;
    }
    .page-footer__copyright {
        
        width: 174px;
        padding-top: 15px;
        padding-bottom: 10px;
        background-position: 97px 3px;
        background-size: 24%;
    }
}