.social-links {
    display: block;
    text-align: center;
    margin-bottom: 40px;
    font-size: 0;
}
.social-links__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
    width: 47px;
    height: 48px;
    background-color: $body-color;
}
.social-links__item:hover {
    background-color: darken($body-color, 7%);
}
.social-links__item:focus,
.social-links__item:active {
    background-color: darken($body-color, 10%);
}
.social-links__item:last-child {
    margin-right: 0;
}
.social-links__item--twitter {
    background-image: url("../img/icon-twitter.svg");
    background-position: center center;
    background-repeat: no-repeat;
}
.social-links__item--facebook {
    background-image: url("../img/icon-facebook.svg");
    background-position: center center;
    background-repeat: no-repeat;
}
.social-links__item--youtube {
    background-image: url("../img/icon-youtube.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .social-links {
        float: left;
        width: 256px;
        margin-bottom: 0;
    }
}

@media (min-width: 1280px) {
    .social-links {
        float: left;
        width: 400px;
        margin-bottom: 0;
        text-align: center;
    }
}