.tipps {
    @include container;
    padding-top: 20px;
    padding-bottom: 26px;
    background-color: #ffffff;
}
.tipps__item {
    padding-bottom: 13px;
    padding-top: 2px;
    
}
.tipps__content {
    width: 230px;
    padding-left: 50px;
    margin-bottom: 0;
}
.tipps__title {
    @include text;
    font-size: 17px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 17px;
}
.tipps__description {
    @include text;
    font-size: 14px;
    line-height: 20px;
}
.tipps__item--home {
    background-image: url("../img/icon-house.svg");
    background-repeat: no-repeat;
    background-position: 0px 7px;
    background-size: 15%;
}
.tipps__item--gift {
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
    background-position: 4px 6px;
    background-size: 12%;
}
.tipps__item--food {
    background-image: url("../img/icon-burger.svg");
    background-repeat: no-repeat;
    background-position: -1px 12px;
    background-size: 14%;
}
@media (min-width: 768px) {
    .tipps {
        display: flex;
        width: 100%;
        font-size: 0;
        padding: 0;
    }
    .tipps__item {
        box-sizing: border-box;
        width: 256px;
        padding: 50px;
        padding-bottom: 65px;
        padding-top: 0;
        display: inline-block;
        vertical-align: top;
    }
    .tipps__content {
        padding: 0;
        margin-top: 160px;
    }
    .tipps__item--home {
        background-position: center 57px;
        background-size: 30%;
        order: -2;
    }
    .tipps__item--gift {
        background-position: center 55px;
        background-size: 25%;
    }
    .tipps__item--food {
        background-position: center 60px;
        background-size: 30%;
        order: -1;
    }
    .tipps__title {
        margin-top: -2px;
        margin-bottom: 21px;
        font-size: 21px;
        line-height: 28px;
        text-align: center;
        width: 156px;
    }
    .tipps__description {
        display: block;
        width: 165px;
    }
}

@media (min-width: 1280px) {
    .tipps__item {
        width: 400px;
    }
    .tipps__item--home {
        background-position: center 57px;
        background-size: 19%;
    }
    .tipps__item--gift {
        background-position: center 55px;
        background-size: 16%;
    }
     .tipps__item--food {
        background-position: center 60px;
        background-size: 19%;
    }
    .tipps__title {
        width: 300px;
    }
    .tipps__description {
        width: 290px;
    }
}